/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/csv
/public/logs
/public/pdf
/public/images/social
/nitty.ppk
/nitty.pub
solution.txt
/public/filepack_images/*
/public/invoices/*
/public/styleguide/*
/storage/fonts/*
*.zip
.phpintel
/public/images/*
!/public/images/ng-icons
!/public/images/email-banners
/public/temp
/public/image_attributes
/public/critical_attributes
/public/product-images
server.txt
notes.txt
/public/filepack
/public/sql
!/public/images/jiomart
notes.txt